<!DOCTYPE html>
<title>Todo</title>
<h1>To-Do List</h1>
<table>
    <tr>
        <td><input type="checkbox" checked/></td>
        <td>Learn Express</td>
    </tr>
    <tr>
        <td><input type="checkbox" checked/></td>
        <td>Learn Handlebars</td>
    </tr>
    <tr>
        <td><input type="checkbox"/></td>
        <td>Get lots of practice</td>
    </tr>
    <tr>
        <td><input type="checkbox"/></td>
        <td>Conquer the world</td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="button" value="Save"/>
            <input type="button" value="Remove Checked"/>
        </td>
    </tr>
</table>
<p>
    Add new item: <input type="text" placeholder="Enter item description"
                         style="width: 60ex" autofocus required/>
    <input type="button" value="Add"/>
</p>
